.popup__container-profile-title {
  min-height: 27px;
  font-size: 14px;
  line-height: 1.21;
  margin: 54px 36px 0;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

@media screen and (max-width: 767px) {
  .popup__container-profile-title {
    margin: 75px 22px 0;
  }
}
