.elements__card-like {
  background-image: url(../../../Images/Heart.svg);
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
  width: 22px;
  height: 19px;
  border: none;
  margin: 5px 5px 1px auto;
}
