.profile {
  max-width: 880px;
  min-height: 120px;
  margin: 40px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 999px) {
  .profile {
    max-width: 85%;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    flex-direction: column;
    min-height: 286px;
    padding: 0 19px;
  }
}
