.profile__subtitle {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  margin: 16px 0 0 30px;
}

@media screen and (max-width: 768px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    margin: 14px 19px 36px;
  }
}
